<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div id="d1" class="col-sm-12 col-md-12 col-lg-12 col-12">

                <nav class="navbar" id="nav">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="assets/Images/bizloan new logo.png" alt="" width="100" height="50">
                        </a>
                    </div>
                </nav>

                <section>
                    <div class="personal detail">

                        <div class="formd row mt-2">

                            <div class="col-sm-12 col-md-6 col-6 col-lg-6">
                                <div class="form-group mt-2 px-4 py-4 ">
                                    <label for="">Ref ID :</label>
                                    <input formControlName="refid" id="refid" class="form-control " readonly type="text"
                                        placeholder="Enter Ref ID">
                                    <br>
                                    <label for="">Name :</label>
                                    <input formControlName="name" id="name" class="form-control" type="text"
                                        placeholder="Enter Name">
                                    <br>
                                    <label for="">Mobile No :</label>
                                    <input formControlName="mobile" id="mobile" class="form-control" type="number"
                                        placeholder="Enter Mobile No">

                                    <br>

                                    <div *ngIf="f['mobile'].touched && f['mobile'].invalid && f['mobile'].dirty "
                                        class="alert alert-danger">
                                        <div *ngIf="f['mobile'].errors && f['mobile'].errors['required']">Mobile number
                                            is required </div>
                                        <div *ngIf="f['mobile'].errors && f['mobile'].errors['pattern']">Enter correct
                                            mobile number
                                        </div>
                                    </div>

                                    
                                    <label for="">Email ID :</label>
                                    <input formControlName="email" id="email" class="form-control" type="email"
                                        placeholder="Enter Email ID">
                                    <br>
                                    <label for=""> External Customer Id</label>
                                    <input formControlName="externalid" id="externalid" class="form-control"
                                        type="number" placeholder="Enter External Customer Id">
                                    <br>
                                </div>
                            </div>


                            <div class="col-sm-12 col-md-6 col-6 col-lg-6">
                                <div class="form-group mt-2 px-4 py-4 ">

                                    <label for="db">Date Of Birth :</label>
                                    <input formControlName="dob1" id="dob1" class="form-control" type="date"
                                        placeholder="Enter Date Of Birth">
                                    <br>
                                    <label for="">Employer Name :</label>
                                    <input formControlName="empname1" id="empname1" class="form-control" type="text"
                                        placeholder="Enter Name">
                                    <br>
                                    <label for="">KYC Details :</label>
                                    <input formControlName="kycdetails1" id="kycdetails1" class="form-control"
                                        type="text" placeholder="Enter KYC Details">
                                    <br>

                                    <div *ngIf="f['kycdetails1'].touched && f['kycdetails1'].invalid && f['kycdetails1'].dirty "
                                        class="alert alert-danger">
                                        <div *ngIf="f['kycdetails1'].errors && f['kycdetails1'].errors['required']">
                                            Please Enter Pan ID
                                        </div>
                                        <div *ngIf="f['kycdetails1'].errors && f['kycdetails1'].errors['pattern']">
                                            Please Enter Pan ID in form of 'PAN:ABCDE1234A' </div>

                                    </div>


                                    <label for="">Udyam No :</label>
                                    <input formControlName="udyamno1" id="udyamno1" class="form-control" type="number"
                                        placeholder="Enter Udyam No">
                                    <br>
                                    <label for="">Loyalti Card :</label>
                                    <input formControlName="loyalticard1" id="loyalticard1" class="form-control"
                                        type="text" placeholder="Enter External Customer Id">
                                    <br>

                                </div>
                            </div>
                        </div>
                        <table>
                        </table>
                    </div>
                </section>
                <div class="col-sm-12 col-12 col-md-12 col-lg-12">
                    <div class="input-box button" id="btn">
                        <div>
                            <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>